
//MEDIA
$desktop: 1370px;
$tablet: 768px;

//COLORS
$textLight: #ffffff;
$textDark: #000000;
$basicGreen: #68B738;
$basicGreen2: #5EAA2F;
$darkGray: #444444;
$basicGray: #f2f2f2;

//FONTS
$fontOswald: "Oswald", Arial, sans-serif;
$fontArial: Arial, sans-serif;


//MEDIA

$desktop: 1370px;
$tablet: 768px;


